@media screen and (min-width:1024px){

    /* @Hero Section */

    .hero-section{
        margin-bottom: 100px;
        margin-top:150px
    }
    .hero-section .hero-image{
        padding-top: 80px;
    }
    .hero-section .hero-content h1{
    max-width: 645px;
    font-size:80px;
    }

    .hero-section .hero-content p{
        max-width: 380px;
        margin-bottom: 50px;
        font-size:18px;
    }
    .hero-section .hero-content{
        position: absolute;
        left:0;
        top:0;
        z-index:1;
    }

    

    /* @Pink-Section */
    .features,
    .pink-section{
        margin-bottom:150px;
    }
    .pink-section-content{
        padding-right: 92px;
    }

    /* @Features */

    .features h2{
        margin-bottom: 50px;
    }

    .features .section-header p {
        width: 584px;
        margin:0 auto;
    }

    .comments-background{
        padding-top: 110px;
        padding-left:93px;
    }
}


.hero-section .hero-content h1{
    font-weight: 700;
    margin-bottom: 50px;
    color:#212353;

}

.hero-section .hero-content p{
    color: #4b5d68;
    font-weight: 500;
    line-height: 2;
}


/* @Purple Section */

.pink-section-background{
    background-image:url("../img/pink-backgrond.svg") ;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover ;
}


.pink-section h2{
    color:#212353;
    font-weight: 700;
    line-height: 52px;
    font-size:40px;
    margin-bottom:40px;
}

.pink-section p{
    font-size:18px;
    font-weight: 500;
    line-height: 28px;
    color:#4b5d68;
}

/* @Features */

.features .section-header h2{
    font-size:40px;
    color:#212353;
    font-weight: 700;

}

.features  .section-header p{
    color:#4b5d68;
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
}
.features .section-header {
    margin-bottom: 70px;
}

.features .card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;

}

.features .card-content{
    flex: 1 0 0;
}
.features .card-image,
.features .card-content{
    padding-left: 15px;
    padding-right: 15px;
}

.features .card::before{
    content:"";
    display: block;
    background-size: contain;
    background-image: url("../img/green-background.svg");
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* @ Comments */

/* .comments{
    position: relative;
    overflow-x: hidden;
}

.comments .swiper-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.comments-background{
    background-image: url("../img/testimonials.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
} */
