.relative{
    position: relative;

}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-white{
    color:#fff;
}

.font-size-40{
    font-size:40px;
}
.font-weight-700{
    font-weight: 700;

}

.margin-bottom-30{
    margin-bottom:  30px;
}

.margin-bottom-80{
    margin-bottom:80px;
}
.margin-bottom-150{
    margin-bottom: 150px;

}

.margin-bottom-95{
    margin-bottom: 95px;
}